p{
	margin: 0%;
	padding: 0%;
}

#intro-container{
	padding-top: 4%;
	background-color: #e9ecef;
}


.project{
	margin: 2% 5%;
	display: flex;
	gap: 2%;
}


.project div{
	border: 1px solid none;
	box-shadow: 0px 0px 4px;
	border-radius: 5%;
	text-align: center;
	padding: 0%;
	width: 50%;
	height: 15%;
}

img{
	width: 100%;
	height: auto;
	border-radius: 5%;
}